  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-family: 'Lobster', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 20px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 15px;

  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;

  }
  .result_para_tag span{
    white-space: pre-line;
  }
  .copy_right_footer{
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    color: white;
    font-family: 'Lobster', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'The Nautigal', cursive;
font-weight: bold;
font-size: 30px;
}

.copy_right_footer:hover{
  background-color: rgb(6, 106, 173);
  color: white;
}
canvas{
border: 3px black solid;
margin-top: 170px;
animation-name: example;
animation-duration: 3s;
animation-iteration-count: infinite;
}
 @keyframes example{
   from{box-shadow:1px 1px 38px red; border-radius: 75px;}
   to{box-shadow: 1px 1px 38px green; border-radius: 0px;}
 }

 img{
width:50px;
height: 50px;
border-radius: 30px;
 }